<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <!--Css only-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--Css personalizada-->
    <link rel="stylesheet" href="css/estilos.css">
    
<body>
    <div class="container">

        <div class="logoff" onclick="window.location.href='/login'"><i class="bi bi-power"></i></div>
        <h1 class="text-center">Lista de Atividades</h1>
        <h2 class="text-center">Olá,<%=nome%>!</h2>
        <div class="row">
            <div class="col-sm order-2">
                <h3 class="text-center">Alterar</h3>
                <form action="/alterar" method="POST" class="form-control" id="fundo">
                    <input type="hidden" name="id_u" value="<%=id%>">
                    <input type="hidden" name="id_a" value="<%=alterar._id%>">
                    <label for="" class="form-control cor">Título da Atividade</label>
                    <input type="text" name="titulo" id="" class="form-control" value="<%=alterar.titulo%>" placeholder="Título"> 
                    <label for="" class="form-control cor">Data de Entrega</label>
                    <input type="date" name="data" id="" class="form-control" value="<%=alterar.data.toISOString().slice(0,10)%>">
                    <label for="" class="form-control cor">Tipo:</label>
                    <select name="tipo" id="" class="form-control">
                        <option value="0">Selecione...</option>
                        <option value="ac"<%=alterar.tipo=="ac"?"selected":""%>>AC</option>
                        <option value="at"<%=alterar.tipo=="at"?"selected":""%>>AT</option>
                        <option value="rec"<%=alterar.tipo=="rec"?"selected":""%>>REC</option>
                        <option value="exame"<%=alterar.tipo=="ac"?"selected":""%>>Exame</option>
                    </select>

                    <label for="" class="form-control cor">Disciplina:</label>
                    <select name="disciplina" id="" class="form-control">
                        <option value="0">Selecione...</option>
                        <option value="bio"<%=alterar.disciplina=="bio"?"selected":""%>>Biologia</option>
                        <option value="lp2"<%=alterar.disciplina=="lp2"?"selected":""%>>Linguagem de Programação</option>
                        <option value="bd2"<%=alterar.disciplina=="bd2"?"selected":""%>>Banco de Dados </option>
                        <option value="inw"<%=alterar.disciplina=="inw"?"selected":""%>>Internet Web</option>
                    </select>

                    <label for="" class="form-control cor">Formato de Entrega</label>
                    <!--<div class="input-group">-->
                        <input type="radio" value="teams" <%=alterar.entrega=='Teams'?'checked':''%> name="entrega" id="" class="form-check-input">Tarefa no Teams
                        <input type="radio" value="Chat" <%=alterar.entrega=='Chat'?'checked':''%> name="entrega" id="" class="form-check-input">Chat no Teams
                        <input type="radio" value="Formulario"<%=alterar.entrega=='Formulario'?'checked':''%> name="entrega" id="" class="form-check-input">Forms
                        <input type="radio" value="email"<%=alterar.entrega=='Email'?'checked':''%> name="entrga" id="" class="form-check-input">email
                        <input type="radio" value="Apresentacao"<%=alterar.entrega=='Apresentacao'?'checked':''%> name="entrega" id="" class="form-check-input">Apresentação
                        <label for="" class="form-control txt">Orientações</label>
                        <textarea name="orientacoes" id="" cols="30" rows="10" class="form-control">
                        <%=alterar.instrucoes%>
                        </textarea>
                    <!--/div-->

                    <div class="input-group">
                        <input type="button" value="Voltar" class="form-control botao" onclick="history.back()">
                        <input type="submit" value="Alterar" class="form-control btn botao">
                    </div>

                </form>
            </div>

        </div>
    </div>    
</body>
</html>